# Proyecto 3

Integrantes: 
- Francis Aguilar #22243
- Diego Garcia #22404
- Cesar Lopez #22535
- Angela Garcia #22869

Conjunto de datos: 
defunciones, defuncionesFetales, divorcios, matrimonios, nacimientos:
https://www.ine.gob.gt/vitales/

Violencia Intrafamiliar: 
https://www.ine.gob.gt/violencia-intrafamiliar/

# Análisis Exploratorio

In [20]:
#conbinar las columnas de los archivos .sav en un solo archivo .csv

import pandas as pd
import os

#dataframes, unir dataframes por columnas

years = range(2009, 2022)

tipo_datos = ['defunciones', 'defuncionesFetales', 'divorcios', 'matrimonios', 'nacimientos', 'violenciaIntrafamiliar']


def combinarDatos(tipo):
    print(f"Combinando datos de {tipo}")
    dataframes = []
    for year in years:
        archivo = f"./{year}/{tipo}.sav"
        if os.path.exists(archivo):
            print(f"leyendo {archivo}")
            df_temp = pd.read_spss(archivo)
            
            # if tipo != 'violenciaIntrafamiliar':
            #     df_temp['ANO_EMISION'] = year
            
            dataframes.append(df_temp)

    if dataframes:
        df_convinado = pd.concat(dataframes, ignore_index=True)
        df_convinado.to_csv(f"./{tipo}.csv", index=False)
        return df_convinado
    else:
        print(f"No se encontraron datos para el tipo {tipo}")



for tipo in tipo_datos:
    combinarDatos(tipo)

Combinando datos de defunciones
leyendo ./2009/defunciones.sav
leyendo ./2010/defunciones.sav
leyendo ./2011/defunciones.sav
leyendo ./2012/defunciones.sav
leyendo ./2013/defunciones.sav
leyendo ./2014/defunciones.sav
leyendo ./2015/defunciones.sav
leyendo ./2016/defunciones.sav
leyendo ./2017/defunciones.sav
leyendo ./2018/defunciones.sav
leyendo ./2019/defunciones.sav
leyendo ./2020/defunciones.sav
leyendo ./2021/defunciones.sav
Combinando datos de defuncionesFetales
leyendo ./2009/defuncionesFetales.sav
leyendo ./2010/defuncionesFetales.sav
leyendo ./2011/defuncionesFetales.sav
leyendo ./2012/defuncionesFetales.sav
leyendo ./2013/defuncionesFetales.sav
leyendo ./2014/defuncionesFetales.sav
leyendo ./2015/defuncionesFetales.sav
leyendo ./2016/defuncionesFetales.sav
leyendo ./2017/defuncionesFetales.sav
leyendo ./2018/defuncionesFetales.sav
leyendo ./2019/defuncionesFetales.sav
leyendo ./2021/defuncionesFetales.sav
Combinando datos de divorcios
leyendo ./2009/divorcios.sav
leyendo ./2010/divorcios.sav
leyendo ./2011/divorcios.sav
leyendo ./2012/divorcios.sav
leyendo ./2013/divorcios.sav
leyendo ./2014/divorcios.sav
leyendo ./2015/divorcios.sav
leyendo ./2016/divorcios.sav
leyendo ./2017/divorcios.sav
leyendo ./2018/divorcios.sav
leyendo ./2019/divorcios.sav
leyendo ./2020/divorcios.sav
leyendo ./2021/divorcios.sav
Combinando datos de matrimonios
leyendo ./2009/matrimonios.sav
leyendo ./2010/matrimonios.sav
leyendo ./2011/matrimonios.sav
leyendo ./2012/matrimonios.sav
leyendo ./2013/matrimonios.sav
leyendo ./2014/matrimonios.sav
leyendo ./2015/matrimonios.sav
leyendo ./2016/matrimonios.sav
leyendo ./2017/matrimonios.sav
leyendo ./2018/matrimonios.sav
leyendo ./2019/matrimonios.sav
leyendo ./2020/matrimonios.sav
leyendo ./2021/matrimonios.sav
Combinando datos de nacimientos
leyendo ./2009/nacimientos.sav
leyendo ./2010/nacimientos.sav
leyendo ./2011/nacimientos.sav
leyendo ./2012/nacimientos.sav
leyendo ./2013/nacimientos.sav
leyendo ./2014/nacimientos.sav
leyendo ./2015/nacimientos.sav
leyendo ./2016/nacimientos.sav
leyendo ./2017/nacimientos.sav
leyendo ./2018/nacimientos.sav
leyendo ./2019/nacimientos.sav
leyendo ./2020/nacimientos.sav
leyendo ./2021/nacimientos.sav
Combinando datos de violenciaIntrafamiliar
leyendo ./2009/violenciaIntrafamiliar.sav
leyendo ./2010/violenciaIntrafamiliar.sav
leyendo ./2011/violenciaIntrafamiliar.sav
leyendo ./2012/violenciaIntrafamiliar.sav
leyendo ./2013/violenciaIntrafamiliar.sav
leyendo ./2014/violenciaIntrafamiliar.sav
leyendo ./2015/violenciaIntrafamiliar.sav
leyendo ./2016/violenciaIntrafamiliar.sav
leyendo ./2017/violenciaIntrafamiliar.sav
leyendo ./2018/violenciaIntrafamiliar.sav
leyendo ./2019/violenciaIntrafamiliar.sav
leyendo ./2020/violenciaIntrafamiliar.sav
leyendo ./2021/violenciaIntrafamiliar.sav

# Cononocer las variables de estadísticas vitales

In [23]:
#defunciones
df_defunciones = pd.read_csv("./defunciones.csv")
#mostrar las columanas
print("\n--Columnas:---")
print(df_defunciones.columns)

print(df_defunciones.shape)
#resumen del set de datos
print("\n--Resumen del set de datos:--")
df_defunciones.describe()

C:\Users\angel\AppData\Local\Temp\ipykernel_44768\1484046630.py:2: DtypeWarning: Columns (1,5,6,11,13,15,17,25,26,28,29,30,31,32,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  df_defunciones = pd.read_csv("./defunciones.csv")

--Columnas:---
Index(['Depreg', 'Mupreg', 'Mesreg', 'Añoreg', 'Depocu', 'Mupocu', 'Areag',
       'Sexo', 'Diaocu', 'Mesocu', 'Añoocu', 'Edadif', 'Perdif', 'Getdif',
       'Ecidif', 'Ocudif', 'Dnadif', 'Mnadif', 'Nacdif', 'Dredif', 'Mredif',
       'Caudef', 'Asist', 'Ocur', 'Cerdef', 'mupreg', 'mupocu', 'añoocu',
       'Escodif', 'mnadif', 'Pnadif', 'Predif', 'Puedif', 'Ciuodif',
       'caudef.descrip'],
      dtype='object')
(1072216, 35)

--Resumen del set de datos:--

             Añoreg        Diaocu         Añoocu         añoocu
count  1.072216e+06  1.072216e+06  700011.000000  145102.000000
mean   1.881734e+03  1.567284e+01    1812.409159    2010.498642
std    5.013635e+02  8.818408e+00     609.245955       0.500000
min    9.000000e+00  1.000000e+00       9.000000    2010.000000
25%    2.012000e+03  8.000000e+00    2016.000000    2010.000000
50%    2.016000e+03  1.600000e+01    2018.000000    2010.000000
75%    2.019000e+03  2.300000e+01    2020.000000    2011.000000
max    2.022000e+03  3.100000e+01    2021.000000    2011.000000

In [24]:
df_defunciones.describe(include="O")  # Estadísticas de las variables categóricas

,Depreg,Mupreg,Mesreg,Depocu,Mupocu,Areag,Sexo,Mesocu,Edadif,Perdif,...,Cerdef,mupreg,mupocu,Escodif,mnadif,Pnadif,Predif,Puedif,Ciuodif,caudef.descrip
count,1072216,927114,1072216,1072216,927114,689079,1072216,1072216,1072216,1072216,...,1072216,145102,145102,1000509,72748,855407,855407,782750,782750,76639
unique,27,334,12,27,334,3,2,12,236,6,...,9,327,327,7,329,170,62,9,44,1452
top,Guatemala,Guatemala,Julio,Guatemala,Guatemala,Urbano,Hombre,Julio,1.0,1 año y más,...,Ignorado,Guatemala,Guatemala,Ninguna,Guatemala,Guatemala,Guatemala,"Mestizo, Ladino",No especificado en otro grupo,"Neumonía, no especificada"
freq,316861,229184,98306,314836,179209,373005,605034,97358,34193,749482,...,382155,33804,31365,532894,8105,765817,717884,333352,380713,5251

In [25]:
#estadisticas de las variables numericas
df_defunciones.describe(include="number")

             Añoreg        Diaocu         Añoocu         añoocu
count  1.072216e+06  1.072216e+06  700011.000000  145102.000000
mean   1.881734e+03  1.567284e+01    1812.409159    2010.498642
std    5.013635e+02  8.818408e+00     609.245955       0.500000
min    9.000000e+00  1.000000e+00       9.000000    2010.000000
25%    2.012000e+03  8.000000e+00    2016.000000    2010.000000
50%    2.016000e+03  1.600000e+01    2018.000000    2010.000000
75%    2.019000e+03  2.300000e+01    2020.000000    2011.000000
max    2.022000e+03  3.100000e+01    2021.000000    2011.000000

In [26]:
#obtener el tipo de datos
print("\n----Tipo de datos:---")
# print(df_train.dtypes)
df_defunciones.info()

tipos_de_datos = df_defunciones.dtypes.value_counts()

print('resumen:')
print(tipos_de_datos)

----Tipo de datos:---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1072216 entries, 0 to 1072215
Data columns (total 35 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Depreg          1072216 non-null  object
 1   Mupreg          927114 non-null   object
 2   Mesreg          1072216 non-null  object
 3   Añoreg          1072216 non-null  float64
 4   Depocu          1072216 non-null  object
 5   Mupocu          927114 non-null   object
 6   Areag           689079 non-null   object
 7   Sexo            1072216 non-null  object
 8   Diaocu          1072216 non-null  float64
 9   Mesocu          1072216 non-null  object
 10  Añoocu          700011 non-null   float64
 11  Edadif          1072216 non-null  object
 12  Perdif          1072216 non-null  object
 13  Getdif          289466 non-null   object
 14  Ecidif          1072216 non-null  object
 15  Ocudif          289466 non-null   object
 16  Dnadif          1072216 non-null  object
 17  Mnadif          999468 non-null   object
 18  Nacdif          1072216 non-null  object
 19  Dredif          1072216 non-null  object
 20  Mredif          1072216 non-null  object
 21  Caudef          1072216 non-null  object
 22  Asist           1072216 non-null  object
 23  Ocur            1072216 non-null  object
 24  Cerdef          1072216 non-null  object
 25  mupreg          145102 non-null   object
 26  mupocu          145102 non-null   object
 27  añoocu          145102 non-null   float64
 28  Escodif         1000509 non-null  object
 29  mnadif          72748 non-null    object
 30  Pnadif          855407 non-null   object
 31  Predif          855407 non-null   object
 32  Puedif          782750 non-null   object
 33  Ciuodif         782750 non-null   object
 34  caudef.descrip  76639 non-null    object
dtypes: float64(4), object(31)
memory usage: 286.3+ MB
resumen:
object     31
float64     4
Name: count, dtype: int64

### Variables defunciones:

significado sacado de: https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fwww.ine.gob.gt%2Fsistema%2Fuploads%2F2014%2F02%2F25%2FwNWcqMZgjV7IYm402pZyygGpTcAXAdeY.xlsx&wdOrigin=BROWSELINK


'Depreg': departamento de registro

'Mupreg': Municipio de registro

'Mesreg': mes de registro

'Añoreg': año de registro

'Depocu': departamento de ocurrencia

'Mupocu': municipio de ocurrencia

'Areag' : area geografica de ocurrencia

'Sexo' : sexo del difunto

'Diaocu': día de ocurrencia

'Mesocu': mes de ocurrencia

'Añoocu': año de ocurrencia

'Edadif':edad del difunto

'Perdif': periodo de edad del difunto

'Getdif': grupo etnico del difunto

'Ecidif': estado civil del difunto

'Ocudif': ocupacion del difunto

'Dnadif': departamento de nacimiento del difunto

'Mnadif': municipio de nacimiento del difunto

'Nacdif': nacionalidad del difunto

'Dredif': departamento de residencia del difunto

'Mredif': municipio de residencia del difunto

'Caudef': causa de defuncion

'Asist' :asistencia recibida

'Ocur'  : sitio de ocurrencia

'Cerdef': quien certifica 


variables no identificadas en el documento proporcionado:

'mupreg': municipio de registro de difuncion

'mupocu': municipio de ocurrencia

'añoocu': año de ocurrencia

'Escodif: estado civil del difunto

'mnadif': municipio de nacimiento del difunto

'Pnadif': pais de nacimiento del difunto

'Predif': pais de residencia del difunto

'Puedif': pueblo etnico del difunto

'Ciuodif: ciudad de ocurrencia

'caudef.descrip' : descripción y detalles de la causa de defunción

In [33]:
#verificar valores nulos
print(df_defunciones.isnull().sum())

#eliminar columnas con valores nulos
df_defunciones = df_defunciones.dropna(axis=1)

Depreg                 0
Mupreg            145102
Mesreg                 0
Añoreg                 0
Depocu                 0
Mupocu            145102
Areag             383137
Sexo                   0
Diaocu                 0
Mesocu                 0
Añoocu            372205
Edadif                 0
Perdif                 0
Getdif            782750
Ecidif                 0
Ocudif            782750
Dnadif                 0
Mnadif             72748
Nacdif                 0
Dredif                 0
Mredif                 0
Caudef                 0
Asist                  0
Ocur                   0
Cerdef                 0
mupreg            927114
mupocu            927114
añoocu            927114
Escodif            71707
mnadif            999468
Pnadif            216809
Predif            216809
Puedif            289466
Ciuodif           289466
caudef.descrip    995577
dtype: int64

In [36]:
#mostrar las columanas
print("\n--Columnas:---")
print(df_defunciones.columns)

--Columnas:---
Index(['Depreg', 'Mesreg', 'Añoreg', 'Depocu', 'Sexo', 'Diaocu', 'Mesocu',
       'Edadif', 'Perdif', 'Ecidif', 'Dnadif', 'Nacdif', 'Dredif', 'Mredif',
       'Caudef', 'Asist', 'Ocur', 'Cerdef'],
      dtype='object')

### Variables Cualitativas: 

### ordinales: 

- Perdif: periodo de edad del difunto (si los periodos están ordenados)

### nominales: 

- Depreg: departamento de registro

- Mupreg: municipio de registro

- Depocu: departamento de ocurrencia

- Mupocu: municipio de ocurrencia

- Areag: área geográfica de ocurrencia

- Sexo: sexo del difunto

- Getdif: grupo étnico del difunto

- Ecidif: estado civil del difunto

- Dnadif: departamento de nacimiento del difunto

- Mnadif: municipio de nacimiento del difunto

- Nacdif: nacionalidad del difunto

- Dredif: departamento de residencia del difunto

- Mredif: municipio de residencia del difunto

- Caudef: causa de defunción

- Asist: asistencia recibida

- Ocur: sitio de ocurrencia

- Cerdef: quien certifica

### Variables ordinales: 

### Continuas: 
- Edadif: edad del difunto (si se registra como un número continuo)

### discretas: 

- Diaocu: día de ocurrencia

- Mesreg: mes de registro

- Mesocu: mes de ocurrencia

- Añoreg: año de registro

- Añoocu: año de ocurrencia

In [37]:
print("\n----Tipo de datos:---")
# print(df_train.dtypes)
df_defunciones.info()

----Tipo de datos:---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1072216 entries, 0 to 1072215
Data columns (total 18 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   Depreg  1072216 non-null  object
 1   Mesreg  1072216 non-null  object
 2   Añoreg  1072216 non-null  float64
 3   Depocu  1072216 non-null  object
 4   Sexo    1072216 non-null  object
 5   Diaocu  1072216 non-null  float64
 6   Mesocu  1072216 non-null  object
 7   Edadif  1072216 non-null  object
 8   Perdif  1072216 non-null  object
 9   Ecidif  1072216 non-null  object
 10  Dnadif  1072216 non-null  object
 11  Nacdif  1072216 non-null  object
 12  Dredif  1072216 non-null  object
 13  Mredif  1072216 non-null  object
 14  Caudef  1072216 non-null  object
 15  Asist   1072216 non-null  object
 16  Ocur    1072216 non-null  object
 17  Cerdef  1072216 non-null  object
dtypes: float64(2), object(16)
memory usage: 147.2+ MB