# Proyecto 3

Integrantes: 
- Francis Aguilar #22243
- Diego Garcia #22404
- Cesar Lopez #22535
- Angela Garcia #22869

Conjunto de datos: 
defunciones, defuncionesFetales, divorcios, matrimonios, nacimientos:
https://www.ine.gob.gt/vitales/

Violencia Intrafamiliar: 
https://www.ine.gob.gt/violencia-intrafamiliar/

# Análisis Exploratorio


En este apartado se realiza un análisis exploratorio de los conjuntos de datos seleccionados, explorando las variables, identificando posibles inconsistencias, y describiendo las principales características de los datos. Los conjuntos de datos seleccionados son: matrimonios, divorcios y violencia intrafamiliar.

In [1]:
#conbinar las columnas de los archivos .sav en un solo archivo .csv

import pandas as pd
import os
import pyreadstat

#dataframes, unir dataframes por columnas

years = range(2009, 2022)

#tipo_datos = ['defunciones', 'defuncionesFetales', 'divorcios', 'matrimonios', 'nacimientos', 'violenciaIntrafamiliar']
tipo_datos = ['divorcios', 'matrimonios', 'violenciaIntrafamiliar']


def combinarDatos(tipo):
    print(f"Combinando datos de {tipo}")
    dataframes = []
    for year in years:
        archivo = f"./{year}/{tipo}.sav"
        
        if os.path.exists(archivo):

            print(f"leyendo {archivo}")
            df_temp = pd.read_spss(archivo)          
            dataframes.append(df_temp)

    if dataframes:
        df_convinado = pd.concat(dataframes, ignore_index=True)
        df_convinado.to_csv(f"./{tipo}.csv", index=False)
        #pyreadstat.write_sav(df_convinado, f"./{tipo}.sav")
        return df_convinado
    else:
        print(f"No se encontraron datos para el tipo {tipo}")



for tipo in tipo_datos:
    combinarDatos(tipo)

Combinando datos de divorcios
leyendo ./2009/divorcios.sav
leyendo ./2010/divorcios.sav
leyendo ./2011/divorcios.sav
leyendo ./2012/divorcios.sav
leyendo ./2013/divorcios.sav
leyendo ./2014/divorcios.sav
leyendo ./2015/divorcios.sav
leyendo ./2016/divorcios.sav
leyendo ./2017/divorcios.sav
leyendo ./2018/divorcios.sav
leyendo ./2019/divorcios.sav
leyendo ./2020/divorcios.sav
leyendo ./2021/divorcios.sav
Combinando datos de matrimonios
leyendo ./2009/matrimonios.sav
leyendo ./2010/matrimonios.sav
leyendo ./2011/matrimonios.sav
leyendo ./2012/matrimonios.sav
leyendo ./2013/matrimonios.sav
leyendo ./2014/matrimonios.sav
leyendo ./2015/matrimonios.sav
leyendo ./2016/matrimonios.sav
leyendo ./2017/matrimonios.sav
leyendo ./2018/matrimonios.sav
leyendo ./2019/matrimonios.sav
leyendo ./2020/matrimonios.sav
leyendo ./2021/matrimonios.sav
Combinando datos de violenciaIntrafamiliar
leyendo ./2009/violenciaIntrafamiliar.sav
leyendo ./2010/violenciaIntrafamiliar.sav
leyendo ./2011/violenciaIntrafamiliar.sav
leyendo ./2012/violenciaIntrafamiliar.sav
leyendo ./2013/violenciaIntrafamiliar.sav
leyendo ./2014/violenciaIntrafamiliar.sav
leyendo ./2015/violenciaIntrafamiliar.sav
leyendo ./2016/violenciaIntrafamiliar.sav
leyendo ./2017/violenciaIntrafamiliar.sav
leyendo ./2018/violenciaIntrafamiliar.sav
leyendo ./2019/violenciaIntrafamiliar.sav
leyendo ./2020/violenciaIntrafamiliar.sav
leyendo ./2021/violenciaIntrafamiliar.sav

# Cononocer las variables de Violencia Intrafamiliar

In [22]:
#defunciones
df_violencia = pd.read_csv("./violenciaIntrafamiliar.csv")
#df_defunciones, meta = pyreadstat.read_sav("./violenciaIntrafamiliar.sav")
#mostrar las columanas
print("\n--Columnas:---")
print(df_violencia.columns)

print(df_violencia.shape)
#resumen del set de datos
print("\n--Resumen del set de datos:--")
df_violencia.describe()

C:\Users\angel\AppData\Local\Temp\ipykernel_54628\3875858247.py:2: DtypeWarning: Columns (3,6,7,26,28,29,39,46,47,48,49,50,51,52,53,56,57,58,59,60,61,62,63,64,65,66,67,73) have mixed types. Specify dtype option on import or set low_memory=False.
  df_violencia = pd.read_csv("./violenciaIntrafamiliar.csv")

--Columnas:---
Index(['ANO_EMISION', 'MES_EMISION', 'DIA_EMISION', 'DEPTO_MCPIO',
       'QUIEN_REPORTA', 'VIC_SEXO', 'VIC_EDAD', 'TOTAL_HIJOS', 'NUM_HIJ_HOM',
       'NUM_HIJ_MUJ', 'VIC_ALFAB', 'VIC_ESCOLARIDAD', 'VIC_EST_CIV',
       'VIC_GRUPET', 'VIC_NACIONAL', 'VIC_TRABAJA', 'VIC_OCUP', 'VIC_DEDICA',
       'VIC_DISC', 'TIPO_DISCAQ', 'VIC_REL_AGR', 'OTRAS_VICTIMAS',
       'VIC_OTRAS_HOM', 'VIC_OTRAS_MUJ', 'VIC_OTRAS_N_OS', 'VIC_OTRAS_N_AS',
       'HEC_DIA', 'HEC_MES', 'HEC_ANO', 'HEC_DEPTOMCPIO', 'HEC_AREA',
       'HEC_TIPAGRE', 'HEC_RECUR_DENUN', 'INST_DONDE_DENUNCIO', 'AGR_SEXO',
       'AGR_EDAD', 'AGR_ALFAB', 'AGR_ESCOLARIDAD', 'AGR_EST_CIV', 'AGR_GURPET',
       'AGR_NACIONAL', 'AGR_TRABAJA', 'AGR_OCUP', 'AGR_DEDICA',
       'INST_DENUN_HECHO', 'MEDIDAS_SEGURIDAD', 'AGR_GRUPET', 'LEY_APLICABLE',
       'AGRESORES_OTROS_TOTAL', 'AGR_OTROS_HOM', 'AGR_OTRAS_MUJ',
       'AGR_OTROS_N_OS', 'AGR_OTRAS_N_AS', 'TIPO_MEDIDA',
       'ORGANISMO_JURISDICCIONAL', 'CONDUCENTE', 'ARTICULOVIF1',
       'ARTICULOVIF2', 'ARTICULOVIF3', 'ARTICULOVIF4', 'ARTICULOVCM1',
       'ARTICULOVCM2', 'ARTICULOVCM3', 'ARTICULOVCM4', 'ARTICULOCODPEN1',
       'ARTICULOCODPEN2', 'ARTICULOCODPEN3', 'ARTICULOCODPEN4',
       'ARTICULOTRAS1', 'ARTICULOTRAS2', 'ARTICULOTRAS3', 'ARTICULOTRAS4',
       'ORGANISMO_REMITE', 'filter_$', 'NUMERO_BOLETA'],
      dtype='object')
(423692, 75)

--Resumen del set de datos:--

,ANO_EMISION,DIA_EMISION,ORGANISMO_JURISDICCIONAL,CONDUCENTE,ARTICULOTRAS1,ARTICULOTRAS2,ARTICULOTRAS3,ARTICULOTRAS4,ORGANISMO_REMITE,NUMERO_BOLETA
count,423692.000000,423692.000000,83354.000000,83354.000000,997.000000,997.000000,997.000000,997.000000,83354.000000,36435.000000
mean,2014.932585,15.330455,4.488267,1.899417,994.729188,994.559679,993.989970,993.989970,37.808312,1079.825909
std,3.739004,8.748711,7.963226,2.021695,60.193354,62.704602,70.603963,70.603963,37.279406,3271.223045
min,2009.000000,1.000000,1.000000,1.000000,141.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,2012.000000,8.000000,1.000000,1.000000,999.000000,999.000000,999.000000,999.000000,17.000000,40.000000
50%,2015.000000,15.000000,1.000000,1.000000,999.000000,999.000000,999.000000,999.000000,18.000000,91.000000
75%,2018.000000,23.000000,7.000000,2.000000,999.000000,999.000000,999.000000,999.000000,99.000000,303.000000
max,2021.000000,31.000000,99.000000,9.000000,999.000000,999.000000,999.000000,999.000000,99.000000,17018.000000

In [3]:
df_violencia.describe(include="O")  # Estadísticas de las variables categóricas

,MES_EMISION,DEPTO_MCPIO,QUIEN_REPORTA,VIC_SEXO,VIC_EDAD,TOTAL_HIJOS,NUM_HIJ_HOM,NUM_HIJ_MUJ,VIC_ALFAB,VIC_ESCOLARIDAD,...,ARTICULOVIF4,ARTICULOVCM1,ARTICULOVCM2,ARTICULOVCM3,ARTICULOVCM4,ARTICULOCODPEN1,ARTICULOCODPEN2,ARTICULOCODPEN3,ARTICULOCODPEN4,filter_$
count,423692,423692,423692,423692,423692,421815,421815,421815,422914,422914,...,82063,32137,32137,32137,32137,1547,1547,1547,1547,29988
unique,12,1316,4,2,122,25,16,16,5,49,...,38,36,39,38,39,54,19,8,6,2
top,Julio,Guatemala,Víctima,Mujeres,23,01,01,Ninguna,Si,Ninguna,...,Blanco,7,Blanco,Blanco,Blanco,Ignorado,Ignorado,Ignorado,Ignorado,Not Selected
freq,37874,17634,408893,378603,15750,90351,127390,131100,210570,86931,...,46709,13774,14861,15844,15996,1002,1002,1002,1002,29987

In [4]:
#estadisticas de las variables numericas
df_violencia.describe(include="number")

,ANO_EMISION,DIA_EMISION,ORGANISMO_JURISDICCIONAL,CONDUCENTE,ARTICULOTRAS1,ARTICULOTRAS2,ARTICULOTRAS3,ARTICULOTRAS4,ORGANISMO_REMITE,NUMERO_BOLETA
count,423692.000000,423692.000000,83354.000000,83354.000000,997.000000,997.000000,997.000000,997.000000,83354.000000,36435.000000
mean,2014.932585,15.330455,4.488267,1.899417,994.729188,994.559679,993.989970,993.989970,37.808312,1079.825909
std,3.739004,8.748711,7.963226,2.021695,60.193354,62.704602,70.603963,70.603963,37.279406,3271.223045
min,2009.000000,1.000000,1.000000,1.000000,141.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,2012.000000,8.000000,1.000000,1.000000,999.000000,999.000000,999.000000,999.000000,17.000000,40.000000
50%,2015.000000,15.000000,1.000000,1.000000,999.000000,999.000000,999.000000,999.000000,18.000000,91.000000
75%,2018.000000,23.000000,7.000000,2.000000,999.000000,999.000000,999.000000,999.000000,99.000000,303.000000
max,2021.000000,31.000000,99.000000,9.000000,999.000000,999.000000,999.000000,999.000000,99.000000,17018.000000

In [5]:
#obtener el tipo de datos
print("\n----Tipo de datos:---")
# print(df_violencia.dtypes)
df_violencia.info()

tipos_de_datos = df_violencia.dtypes.value_counts()

print('resumen:')
print(tipos_de_datos)

----Tipo de datos:---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423692 entries, 0 to 423691
Data columns (total 75 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ANO_EMISION               423692 non-null  float64
 1   MES_EMISION               423692 non-null  object
 2   DIA_EMISION               423692 non-null  float64
 3   DEPTO_MCPIO               423692 non-null  object
 4   QUIEN_REPORTA             423692 non-null  object
 5   VIC_SEXO                  423692 non-null  object
 6   VIC_EDAD                  423692 non-null  object
 7   TOTAL_HIJOS               421815 non-null  object
 8   NUM_HIJ_HOM               421815 non-null  object
 9   NUM_HIJ_MUJ               421815 non-null  object
 10  VIC_ALFAB                 422914 non-null  object
 11  VIC_ESCOLARIDAD           422914 non-null  object
 12  VIC_EST_CIV               421815 non-null  object
 13  VIC_GRUPET                423692 non-null  object
 14  VIC_NACIONAL              423692 non-null  object
 15  VIC_TRABAJA               422914 non-null  object
 16  VIC_OCUP                  139268 non-null  object
 17  VIC_DEDICA                282252 non-null  object
 18  VIC_DISC                  423692 non-null  object
 19  TIPO_DISCAQ               6632 non-null    object
 20  VIC_REL_AGR               423692 non-null  object
 21  OTRAS_VICTIMAS            423692 non-null  object
 22  VIC_OTRAS_HOM             423692 non-null  object
 23  VIC_OTRAS_MUJ             423692 non-null  object
 24  VIC_OTRAS_N_OS            423692 non-null  object
 25  VIC_OTRAS_N_AS            423692 non-null  object
 26  HEC_DIA                   423692 non-null  object
 27  HEC_MES                   423692 non-null  object
 28  HEC_ANO                   423692 non-null  object
 29  HEC_DEPTOMCPIO            423692 non-null  object
 30  HEC_AREA                  423692 non-null  object
 31  HEC_TIPAGRE               423692 non-null  object
 32  HEC_RECUR_DENUN           423692 non-null  object
 33  INST_DONDE_DENUNCIO       52810 non-null   object
 34  AGR_SEXO                  423692 non-null  object
 35  AGR_EDAD                  423692 non-null  object
 36  AGR_ALFAB                 423692 non-null  object
 37  AGR_ESCOLARIDAD           423692 non-null  object
 38  AGR_EST_CIV               423659 non-null  object
 39  AGR_GURPET                322084 non-null  object
 40  AGR_NACIONAL              423692 non-null  object
 41  AGR_TRABAJA               423692 non-null  object
 42  AGR_OCUP                  336883 non-null  object
 43  AGR_DEDICA                81066 non-null   object
 44  INST_DENUN_HECHO          423692 non-null  object
 45  MEDIDAS_SEGURIDAD         237526 non-null  object
 46  AGR_GRUPET                101608 non-null  object
 47  LEY_APLICABLE             203483 non-null  object
 48  AGRESORES_OTROS_TOTAL     290587 non-null  object
 49  AGR_OTROS_HOM             290587 non-null  object
 50  AGR_OTRAS_MUJ             290587 non-null  object
 51  AGR_OTROS_N_OS            290587 non-null  object
 52  AGR_OTRAS_N_AS            290587 non-null  object
 53  TIPO_MEDIDA               137921 non-null  object
 54  ORGANISMO_JURISDICCIONAL  83354 non-null   float64
 55  CONDUCENTE                83354 non-null   float64
 56  ARTICULOVIF1              82063 non-null   object
 57  ARTICULOVIF2              82063 non-null   object
 58  ARTICULOVIF3              82063 non-null   object
 59  ARTICULOVIF4              82063 non-null   object
 60  ARTICULOVCM1              32137 non-null   object
 61  ARTICULOVCM2              32137 non-null   object
 62  ARTICULOVCM3              32137 non-null   object
 63  ARTICULOVCM4              32137 non-null   object
 64  ARTICULOCODPEN1           1547 non-null    object
 65  ARTICULOCODPEN2           1547 non-null    object
 66  ARTICULOCODPEN3           1547 non-null    object
 67  ARTICULOCODPEN4           1547 non-null    object
 68  ARTICULOTRAS1             997 non-null     float64
 69  ARTICULOTRAS2             997 non-null     float64
 70  ARTICULOTRAS3             997 non-null     float64
 71  ARTICULOTRAS4             997 non-null     float64
 72  ORGANISMO_REMITE          83354 non-null   float64
 73  filter_$                  29988 non-null   object
 74  NUMERO_BOLETA             36435 non-null   float64
dtypes: float64(10), object(65)
memory usage: 242.4+ MB
resumen:
object     65
float64    10
Name: count, dtype: int64

### Variables defunciones:

significado sacado de: https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fwww.ine.gob.gt%2Fsistema%2Fuploads%2F2014%2F02%2F25%2FwNWcqMZgjV7IYm402pZyygGpTcAXAdeY.xlsx&wdOrigin=BROWSELINK

- ANO_EMISION: Año de emisión o registro de la denuncia en las fuentes de información

- MES_EMISION: Mes de emisión o registro de la denuncia

- DIA_EMISION: Día de emisión o registro de la denuncia

- DEPTO_MCPIO: Departamento y municipio de registro

- QUIEN_REPORTA: Persona que reporta el hecho


---Datos generales de la victima---

- VIC_SEXO: Sexo de la víctima

- VIC_EDAD: Edad de la víctima

- TOTAL_HIJOS: Suma  de hijos hombres e hijas mujeres

- NUM_HIJ_HOM: Número de hijos hombres de la víctima	

- NUM_HIJ_MUJ:	Número de hijas mujeres de la víctima	

- VIC_ALFAB:	Sabe leer y escribir	

- VIC_ESCOLARIDAD:	Nivel de escolaridad de la víctima	

- VIC_EST_CIV:	Estado conyugal de la víctima	

- VIC_GRUPET:	Pueblo de pertenencia de la víctima	

- VIC_NACIONAL:	Nacionalidad de la víctima	

- VIC_TRABAJA:	Condición de empleo de la víctima	

- VIC_OCUP:	Ocupación de la víctima (con salario o ingreso dentro o fuera de la casa), 
- Clasificación Internacional Uniforme de Ocupaciones -CIUO- 08

- VIC_DEDICA:	A que se dedica la víctima     (sin ingresos)

- VIC_DISC:	Discapacidad de la víctima

- TIPO_DISCAQ:	Tipo de discapacidad de la víctima

- VIC_REL_AGR:	Relación de la víctima con el agresor

- OTRAS_VICTIMAS:	Total otras víctimas

- VIC_OTRAS_HOM:	Otras víctimas hombres(de 13 años en adelante)

- VIC_OTRAS_MUJ:	Otras víctimas mujeres  (de 13 años en adelante)

- VIC_OTRAS_N_OS:	Otras víctimas niños      (de 00 a 12 años)

- VIC_OTRAS_N_AS:	Otras víctimas niñas      (de 00 a 12 años)
	
--Datos de hecho--


- HEC_DIA:	Día en que sucedió el hecho

- HEC_MES:	Mes en que ocurrió el hecho	

- HEC_ANO: Año en que ocurrió el hecho	

- HEC_DEPTOMCPIO:	Departamento y municipio donde ocurrió el hecho

- HEC_AREA:	Area geográfica de ocurrencia

- HEC_TIPAGRE:	Tipo de agresión sufrida por la víctima	

- HEC_RECUR_DENUN:	Reiteración de la denuncia (ha denunciado con anterioridad)	

- INST_DONDE_DENUNCIO:	En que institución denunció anteriormente	

-- Datos del agresor --


- AGR_SEXO:	Sexo del(a) agresor(a)		

- AGR_EDAD:	Edad del(a) agresor(a)		

- AGR_ALFAB:	Sabe leer y escribir	

- AGR_ESCOLARIDAD:	Nivel de escolaridad del(a) agresor(a)	

- AGR_EST_CIV:	Estado conyugal del (a) agresor(a)	

- AGR_GRUPET:	Pueblo de pertenencia del agresor(a)	

- AGR_NACIONAL:	Nacionalidad del(a) agresor(a)	

- AGR_TRABAJA:	Condición de empleo del(a) agresor(a)	

- AGR_OCUP:	Ocupación del (a) agresor(a) (con salario o ingreso dentro o fuera de la casa), 
- Clasificación Internacional Uniforme de Ocupaciones -CIUO- 08	

- AGR_DEDICA:	A que se dedica el(a) agresor(a) (sin ingresos)	

- OTROS_AGRESORES:	Total otros agresores	

- AGR_OTROS_HOM:	Otros agresores hombres     (de 13 años en adelante)	

- AGR_OTRAS_MUJ:	Otras agresoras mujeres      (de 13 años en adelante)	

- AGR_OTROS_N_OS:	Otros agresores niños          (de 00 a 12 años)	

- AGR_OTRAS_N_AS:	Otras agresoras niñas           (de 00 a 12 años)	
	
	
-- Datos de la institucion que regrista el hecho --

- INST_DENUN_HECHO:	Nombre  de la institución que registra el hecho

- ORGANISMO_JURISDICCIONAL:	Órgano jurisdiccional que recibe la denuncia

- CONDUCENTE:	Se certificó lo conducente	

- LEY_APLICABLE	Ley que se aplicó en el caso

- ARTICULOVIF: Artículos aplicados (Se registraron hasta 4 artículos de una misma ley)

- ARTICULOVCM: Artículos aplicados (Se registraron hasta 4 artículos de una misma ley)

- ARTICULOCODPEN: Artículos aplicados (Se registraron hasta 4 artículos de una misma ley)

- ARTICULOTRAS: Artículos aplicados (Se registraron hasta 4 artículos de una misma ley)

- MEDIDAS_SEGURIDAD	Medidas de seguridad otorgadas por el Organismo Judicial

- TIPO_MEDIDA	Tipo de medida de seguridad aplicada

- ORGANISMO_REMITE	Órgano jurisdiccional a donde se remitió


Variables que no estan en el diccionario de violencia intrafamiliar:

- NUMERO_BOLETA número de boleta

- filter_$: filtro

### Variables Cualitativas: 

### ordinales: 
- VIC_ESCOLARIDAD
- AGR_ESCOLARIDAD

### nominales: 

- DEPTO_MCPIO

- QUIEN_REPORTA

- VIC_SEXO

- VIC_ALFAB

- VIC_ESCOLARIDAD

- VIC_EST_CIV

- VIC_GRUPET

- VIC_NACIONAL

- VIC_TRABAJA

- VIC_OCUP

- VIC_DEDICA

- VIC_DISC

- TIPO_DISCAQ

- VIC_REL_AGR

- HEC_DEPTOMCPIO

- HEC_AREA

- HEC_TIPAGRE

- HEC_RECUR_DENUN

- INST_DONDE_DENUNCIO

- AGR_SEXO

- AGR_ALFAB

- AGR_ESCOLARIDAD

- AGR_EST_CIV

- AGR_GRUPET

- AGR_NACIONAL

- AGR_TRABAJA

- AGR_OCUP

- AGR_DEDICA

- INST_DENUN_HECHO

- MEDIDAS_SEGURIDAD

- TIPO_MEDIDA

- ORGANISMO_JURISDICCIONAL

- CONDUCENTE

- LEY_APLICABLE

- ARTICULOVIF

- ARTICULOVCM

- ARTICULOCODPEN

- ARTICULOTRAS

- ORGANISMO_REMITE

- NUMERO_BOLETA

- filter_$

### Variables ordinales: 

### Continuas: 

- ANO_EMISION

- DIA_EMISION

- VIC_EDAD

- TOTAL_HIJOS

- NUM_HIJ_HOM

- NUM_HIJ_MUJ

- OTRAS_VICTIMAS

- VIC_OTRAS_HOM

- VIC_OTRAS_MUJ

- VIC_OTRAS_N_OS

- VIC_OTRAS_N_AS

- HEC_DIA

- HEC_ANO

- AGR_EDAD

- OTROS_AGRESORES

- AGR_OTROS_HOM

- AGR_OTRAS_MUJ

- AGR_OTROS_N_OS

- AGR_OTRAS_N_AS

### discretas: 
- MES_EMISION

In [ ]:
#verificar valores nulos
print(df_violencia.isnull().sum())

ANO_EMISION              0
MES_EMISION              0
DIA_EMISION              0
DEPTO_MCPIO              0
QUIEN_REPORTA            0
                     ...
ARTICULOTRAS3       422695
ARTICULOTRAS4       422695
ORGANISMO_REMITE    340338
filter_$            393704
NUMERO_BOLETA       387257
Length: 75, dtype: int64

In [ ]:
#imputar valores faltantes, porque nos pueden ser de utilidad
#que son las columnas VIC_EST_CIV con la moda

vic_est_civ_mode = df_violencia['VIC_EST_CIV'].mode()[0]
df_violencia['VIC_EST_CIV'] = df_violencia['VIC_EST_CIV'].fillna(vic_est_civ_mode)

# convertir la columna TOTAL_HIJOS a numérica porque no todos los datos son numeriscos
df_violencia['TOTAL_HIJOS'] = pd.to_numeric(df_violencia['TOTAL_HIJOS'], errors='coerce')

# imputar valores faltantes de TOTAL_HIJOS con la media
total_hijos_mean = df_violencia['TOTAL_HIJOS'].mean()
df_violencia['TOTAL_HIJOS'] = df_violencia['TOTAL_HIJOS'].fillna(total_hijos_mean)

# Verificar los valores imputados
print("\nValores imputados en la columna victima estado civil:")
print(df_violencia['VIC_EST_CIV'])

print("\nValores imputados en la columna total hijos :")
print(df_violencia['TOTAL_HIJOS'])

Valores imputados en la columna VIC_EST_CIV:
0          Casados(as)
1          Casados(as)
2          Casados(as)
3          Casados(as)
4          Casados(as)
              ...
423687    Solteros(as)
423688     Casados(as)
423689        Ignorado
423690     Casados(as)
423691        Ignorado
Name: VIC_EST_CIV, Length: 423692, dtype: object

Valores imputados en la columna TOTAL_HIJOS:
0         2.530674
1         2.530674
2         2.530674
3         2.530674
4         2.530674
            ...
423687    2.530674
423688    2.530674
423689    2.530674
423690    2.000000
423691    1.000000
Name: TOTAL_HIJOS, Length: 423692, dtype: float64

In [24]:
#eliminar columnas con valores nulos
df_violencia = df_violencia.dropna(axis=1)

In [25]:
#mostrar las columanas
print("\n--Columnas:---")
print(df_violencia.columns)

--Columnas:---
Index(['ANO_EMISION', 'MES_EMISION', 'DIA_EMISION', 'DEPTO_MCPIO',
       'QUIEN_REPORTA', 'VIC_SEXO', 'VIC_EDAD', 'TOTAL_HIJOS', 'VIC_EST_CIV',
       'VIC_GRUPET', 'VIC_NACIONAL', 'VIC_DISC', 'VIC_REL_AGR',
       'OTRAS_VICTIMAS', 'VIC_OTRAS_HOM', 'VIC_OTRAS_MUJ', 'VIC_OTRAS_N_OS',
       'VIC_OTRAS_N_AS', 'HEC_DIA', 'HEC_MES', 'HEC_ANO', 'HEC_DEPTOMCPIO',
       'HEC_AREA', 'HEC_TIPAGRE', 'HEC_RECUR_DENUN', 'AGR_SEXO', 'AGR_EDAD',
       'AGR_ALFAB', 'AGR_ESCOLARIDAD', 'AGR_NACIONAL', 'AGR_TRABAJA',
       'INST_DENUN_HECHO'],
      dtype='object')

In [26]:
#verificar los valores duplicados
print("\nValores duplicados:")
print(df_violencia.duplicated().sum())

Valores duplicados:
106

In [27]:
#eliminar los valores duplicados
df_violencia = df_violencia.drop_duplicates()